<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cry</title>
</head>
<body>
    <h1>Coin Tharun Converter</h1>
    <form action="" method="post">
        <p>From</p>
        <select id="hi" name="from">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USD">USD</option>
            <option value="INR">INR</option>
        </select>
        <p>To</p>
        <select id="hi" name="to">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USD">USD</option>
            <option value="INR">INR</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>